@model ResMed.Models.ViewModel.VisitsViewModel

@{
    ViewData["Title"] = "Anulowanie wizyty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Anulowanie wizyty</h2>

<h3 class="text-danger">Czy jestes pewien, że chcesz anulować tą wizytę?</h3>
<br />
<div class="form-group">
    <form asp-action="Delete">


        <div class="form-group">
            <label asp-for="@Model.Visit.Date"></label>: @Html.DisplayFor(model => model.Visit.Date)
        </div>

        <div class="form-group">
            <label asp-for="@Model.Visit.Time"></label>: @Html.DisplayFor(model => model.Visit.Date.TimeOfDay)
        </div>
        <div>
            <label>Pacjent</label>:
            @Html.DisplayFor(model => model.Visit.Patient.FirstName) @Html.DisplayFor(model => model.Visit.Patient.LastName)
        </div>
        <div>
            <label>Powód:</label>
            <textarea style="height:180px; resize:none" name="reason" class="form-control"></textarea>
        </div>
        <br />

        <input type="hidden" asp-for="@Model.Visit.Id" />
        <input type="submit" value="Anuluj wizytę!" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Powrót</a>
    </form>
</div>
