@model IEnumerable<ResMed.Models.Visits>

@{
    ViewData["Title"] = "Moje wizyty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moje wizyty</h2>

<div class="col-md-3">
    @using (Html.BeginForm(new { @class = "form-group" }))
    {
        <p>
            Znajdź po imieniu:
            @Html.TextBox("patientSearch", null, null, new { @class = "form-control"})
            <input type="submit" value="Szukaj" class="btn btn-sm btn-default" />
        </p>

    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("Pacjent", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>Anulowanie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FirstName)
                    @Html.DisplayFor(modelItem => item.Patient.LastName)
                </td>
                <td>
                    @if (item.Date < DateTime.Today)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-default disabled">Anuluj</a>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Anuluj</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
