@page
@model DoctorCart
@using ResMed.Utility;
@using ResMed.Models;
@{
    ViewData["Title"] = "Karta lekarza";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/GoogleMapsAPI.css" />
</head>


<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)

@{ if (!Model.Input.IsActive)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Konto nieaktywne - brak poprawnego nr PWZ. Jesteś niewidoczny dla pacjentów. Wprowadź swój nr PWZ aby pojawić się w wynikach wyszukiwania.
        </div>
    }
}
<div class="row">
    <form id="profile-form" enctype="multipart/form-data" method="post">

        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                @Html.DropDownListFor(m => m.Input.Gender, new List<SelectListItem>
                   { new SelectListItem{Text="Mężczyzna", Value="Mężczyzna"},
                     new SelectListItem{Text="Kobieta", Value="Kobieta"}}, "Wybierz płeć", new { @class = "form-control" })
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
                    <div class="form-group">
                        <label asp-for="Input.OfficeName"></label>
                        <input asp-for="Input.OfficeName" class="form-control" />
                        <span asp-validation-for="Input.OfficeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.SpecializationId"></label>
                        @{var specList = ViewData["SpecsList"] as List<SelectListItem>;} @*pobranie listy specjalizacji z ViewData i przypisanie do listy typu SelectListItem*@
                        <select asp-for="Input.SpecializationId" class="form-control" asp-items="@(new SelectList(specList, "Value", "Text"))"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Address"></label>
                        <input asp-for="Input.Address" id="pac-input" type="text" class="form-control" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LicenseNr"></label>
                        <input asp-for="Input.LicenseNr" class="form-control" />
                        <span asp-validation-for="Input.LicenseNr" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.AverageVisitTime"></label>
                        <input asp-for="Input.AverageVisitTime" type="number" step="15" class="form-control" />
                        <span asp-validation-for="Input.AverageVisitTime" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Input.StartWorkHours"></label>
                                <input asp-for="Input.StartWorkHours" type="time" class="timepicker form-control" />
                                <span asp-validation-for="Input.StartWorkHours" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Input.EndWorkHours"></label>
                                <input asp-for="Input.EndWorkHours" type="time" class="timepicker form-control" />
                                <span asp-validation-for="Input.EndWorkHours" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group text-center">
                            <label>Dni pracujące</label>
                        </div>
                        <table class="table table-striped">
                            <tr align="center">
                                <th>Pn.</th>
                                <th>Wt.</th>
                                <th>Śr.</th>
                                <th>Czw.</th>
                                <th>Pt.</th>
                                <th>Sb.</th>
                                <th>Nd.</th>
                            </tr>
                            <tr align="center">
                                <td>
                                    <input asp-for="Input.WorkingMonday" type="checkbox" />
                                </td>
                                <td>
                                    <input asp-for="Input.WorkingTuesday" type="checkbox" />
                                </td>
                                <td>
                                    <input asp-for="Input.WorkingWednesday" type="checkbox" />
                                </td>
                                <td>
                                    <input asp-for="Input.WorkingThursday" type="checkbox" />
                                </td>
                                <td>
                                    <input asp-for="Input.WorkingFriday" type="checkbox" />
                                </td>
                                <td>
                                    <input asp-for="Input.WorkingSaturday" type="checkbox" />
                                </td>
                                <td>
                                    <input asp-for="Input.WorkingSunday" type="checkbox" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Description"></label>
                        <textarea style="height:180px; resize:none" asp-for="Input.Description" class="form-control"></textarea>
                        <span asp-validation-for="Input.Description" class="text-danger"></span>
                    </div>

                    @*Google Places Api*@

                    <div id="infowindow-content">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name" class="title"></span><br>
                        <span id="place-address"></span>
                    </div>
                    @*_________________*@


                    <button type="submit" class="btn btn-info pull-right">Zapisz</button>
                </div>

                <div class="col-md-6">
                    @*<img src="~/images/DoctorCart/doctor-blank-profile.png" />*@
                    <img src="@Model.Input.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
                    <input type="file" name="files" class="form-control" />
                    <br /><br />
                    <div id="map"></div> @*mapa pod zdj profilowym*@
                </div>
</form>



    <script src="~/js/GoogleMapsAPI.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsCfRtCAXWGgSvMo7uEv8XqfQCDnGSWas&libraries=places&callback=initMap"
            async defer></script>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script>
    @*Timepicker script*@

        $('.timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 15,
            minTime: '08:00',
            maxTime: '18:00',
            startTime: '08:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    </script>
}
