@model IEnumerable<ResMed.Models.Visits>

@{
    ViewData["Title"] = "Moje wizyty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moje wizyty</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>Anulowanie</th>
            <th>Oceń wizytę</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @item.Date.TimeOfDay.ToString(@"hh\:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                    @Html.DisplayFor(modelItem => item.Doctor.LastName)
                </td>
                <td>
                    @if (item.Date < DateTime.Today)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-default disabled">Anuluj</a>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Anuluj</a>
                    }
                </td>
                @if (item.Date < DateTime.Today && !item.IsReviewed)
                {
                    <td>
                        <a asp-action="Review" asp-route-id="@item.Id" class="btn btn-sm btn-success">Oceń</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Review" asp-route-id="@item.Id" class="btn btn-sm btn-default disabled">Oceń</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
